[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
loguru = "*"
requests = "*"
neo4j-driver = "*"
gseapy = "==0.9.16"
streamlit = "*"
tqdm = "*"
pillow = "*"

[dev-packages]
bioservices = "*"
ipyparallel = "*"

[requires]
python_version = "3"
