[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
scipy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
statsmodels = "*"
loguru = "*"
requests = "*"
neo4j-driver = "*"
bioservices = "*"
tqdm = "*"
ipyparallel = "*"
gseapy = "*"

[requires]
python_version = "3"
